{% extends "base_template.html" %}

{% block content %}
        <section class="section section-center section-hilite section-team" style="text-align: left">
    <div class="container">
        <div class="row">
               <h2 class="section-title"><span>Nur noch ein letzter Schritt zur Eröffnung Ihres Accounts bei ADDRESSA</span></h2>
    <p>Wir haben eine EMail mit Ihrem persönlichen Aktiviereungscode an Sie gesendet. Bitte folgen Sie den Link in der Mail innerhalb der nächsten 48h
    um die Registrierung abzuschließen!</p>
            </div>
    </div>
</section>
{% endblock %}