{% extends "base_template.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/simple-sidebar.css" %}">

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="{% url 'update' %}">pers&ouml;nliche Daten</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'add_contact' %}">Personen hinzuf&uuml;gen</a></li>
              <li class="divider"></li>
            <li><a href="#">Passwort &auml;ndern</a></li>
              <li class="divider"></li>
            <li><a href="#">Zahlungsart</a></li>
          </ul>
        </li>
          <li class="active"><a href="{% url 'profile' %}">Bestellungen<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li ><a href="#">API Keys<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
        <li id="last"><a href="#">Addressen Extrahierung<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
        <div class="row" id="subscriptions" style="margin-top: 30px;">
        <div class="col-md-1 col-sm-1"></div>
 <div class="col-md-9 col-xs-9">
 <h3>Ihre Account Kontakte</h3>
     {% if contacts != None %}
 <table class="table" >
                <thead>
                <tr>
                <th>Name</th>
                    <th>Nachnahme</th>
                    <th>E-mail</th>
                    <th>Telefon</th>
                    <th>Unternehmen</th>
                </tr>
                </thead>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.company }}</td>
                </tr>
  {% endfor %}
             </table>
     {% endif %}
<h3>F&uuml;gen Sie einen Kontakt hinzu</h3>
 <form method="post" action=".">
        {% csrf_token %}
        {{ form|bootstrap }}


        <input type="submit" value="Submit">
    </form>
    </div>
        </div>
    </div>

{% endblock %}