{% extends "base_template.html" %}
{% load static %}
{% block content %}
 <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background: url({% static "img/bg-2.jpg" %});">
              <div class="container" id="democontainer" style="width:100%; height:540px ">
                <center>
                  <div style="margin-top:80px;">
                  <h2>Probier es aus!</h2>
                <form style="margin-top:50px;" class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="street">Straße</label>
                    <input type="text" class="form-control" id="street" placeholder="Straße">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="zip">PLZ</label>
                    <input type="text" class="form-control" id="zip" placeholder="PLZ">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="city">Stadt</label>
                    <input type="text" class="form-control" id="city" placeholder="Stadt">
                  </div>
                </form>
                </div>
              </center>
              </div>
            </div>
          </div>
        </section>
{% endblock %}