{% extends "base_template.html" %}

{% block content %}
<section id="pricing" class="section section-center section-pricing">
            <div class="container">
                <h2 class="section-title"><span>Preise</span></h2>
                <div class="pricing-table">
                    <div class="row">
                      <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>500</h1>
                                    <div class="the-price">20 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>500 Lookups</td></tr>
                                            <tr><td>4 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>1 000</h1>
                                    <div class="the-price">30 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>1 000 Lookups</td></tr>
                                            <tr><td>3 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>5 000</h1>
                                    <div class="the-price">50 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>5 000 Lookups</td></tr>
                                            <tr><td>1 Cent / Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>10 000</h1>
                                    <div class="the-price">80 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>10 000 Lookups</td></tr>
                                            <tr><td>0,8 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-primary">
                                <header class="panel-heading">
                                    <h1>25 000</h1>
                                    <div class="the-price">150 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>25 000 Lookups</td></tr>
                                            <tr><td>0,6 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>50 000</h1>
                                    <div class="the-price">280 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>50 000 Lookups</td></tr>
                                            <tr><td>0,56 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>100 000</h1>
                                    <div class="the-price">450 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>100 000 Lookups</td></tr>
                                            <tr><td>0,45 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default">
                                <header class="panel-heading">
                                    <h1>unlimited</h1>
                                    <div class="the-price">900 € <span class="subscript">/ Monat</span></div>
                                </header>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td>unlimited Lookups</td></tr>
                                            <tr><td> < 0,45 Cent/ Lookup</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <footer class="panel-footer"><a href="#contact" class="btn btn-block btn-default">Jetzt bestellen!</a></footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}